@media screen and (max-width: 768px) {
    .hero h1 {
        top: 30%;
        width: 80%;
        font-size: 1rem;
    }

    .hamburger-nav {
        display: block;
    }

    .nav-btn {
        display: none;
        flex-direction: column;
    }

    .nav-btn.show {
        display: block;
    }

    /*****Property grid****/
    .property-grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1.5rem;
        padding: 1rem;
    }

    .filter-labels {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 0 10px;
        width: 100%;
    }

    select,
    input {
        height: 40px;
        width: 100%;
        font-size: 18px;
    }

    label {
        font-size: 14px;
    }

    /* Detail Page */
    .details-container {
        grid-template-columns: 1fr;
    }

    .details-container img {
        height: 250px;
    }


    /***********FOOTER*********/

    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        gap: 1.5rem;
        padding: 1.5rem 1rem;

        width: 100%;
        max-width: 100%;
        overflow-x: hidden;
    }

    footer .location,
    footer .source {
        text-align: center;
    }

    footer .logos {
        justify-content: center;
    }

    footer .logos img {
        width: 30px;
        height: 30px;
        padding: 8px;
    }
}